@use "../../../styles/variables" as *;

.button {
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: $font-size-m;
  transition: all 0.2s;
  width: fit-content;

  &--full {
    width: 100%;
  }

  &--main {
    background-color: $blue-dark;
    color: $white-light;
    border: 1px solid $blue-dark;
    &:hover {
      background-color: $white-light;
      color: $blue-dark;
    }
  }

  &--secondary {
    background-color: $white-light;
    color: $blue-dark;
    border: 1px solid $blue-dark;
    &:hover {
      background-color: $blue-dark;
      color: $white-light;
    }
  }
}
